/* =============================
	   FOOTER STYLES
=============================== */
.x-colophon.bottom {
	background-color: #eeeeee;
	padding: 0 !important;
	
	.x-social-global > a > i:hover {
		color: white;
	}
}