/* =============================
	TOP BAR STYLES
=============================== */
.x-topbar {
  background-color: rgb(255,125,0) !important;
  min-height: 26px;
  
	.p-info {
		color: white !important;
		text-align: center;
		width: 100%;
		margin: 2px 0 !important;
		text-transform: uppercase;
	
	}
  
  
    .x-social-global {
	  	display: none;
	}

}
