/* =============================
	   BASE BUTTON STYLES
=============================== */

//Black Button
//==================
.x-btn {
		

	&:hover,
	&:focus {
		
	}
	
}

//White Button
//====================
.x-btn.-white-btn{
	
	&:focus,
	&:hover {
		
	}

}


//Green Button
//====================
.x-btn.-lime-btn{
	
	&:focus,
	&:hover {
		
	}

}


//Shop Button
//=============================
.product .button,
.x-btn, .button, [type="submit"] {
	text-shadow: none !important;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .5px;
	font-size: 15px;
	padding-top: 0.8em !important;
	padding-bottom: 0.8em !important;
}
